#addFriendInput::placeholder {
    color: #ccc;
    font-size: larger;
}

/* .add_friend_checkbox {
    color: red,
} */

.add_friend_checkbox:checked {
    background-color: white;
    color: red;
}