/* #longer {
    flex: 0 1 50%;
}

#mail_div div:nth-of-type(1) {
    flex-grow: 3;
}

#mail_div div:nth-of-type(2) {
    flex-grow: 5;
}

#mail_div div:nth-of-type(3) {
    flex-grow: 3;
} */